@{
    ViewBag.Title = "Animals";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="/scripts/bootstrap.js" type="text/javascript"></script>
<link href="/content/bootstrap.css" rel="stylesheet" type="text/css" />
<link href="/EmptyCSSFile.css" rel="stylesheet" type="text/css" />

<div class="container-fluid">
    <h2 class="title">Animals</h2>

</div>


<div class="container-fluid">
    <div class="row">

        <div class="col col-md-4 col-sm-6">
            <div class="card styleboximg  ">
                <div class="">
                    <a href="/home/ImagePage/?id=dog"> <img class="card-img-top" src="/content/images/animals/dog.png" style="max-width:100%; padding:2px;" /></a>
                    <div class="card-body">


                        <div class="container-fluid">
                            <h5 class="style1">
                                Dogs x 3 - Easy
                            </h5>
                        </div>

                        <div class="container-fluid">
                            <h6 class="style1">
                                Size: </br>
                                Height:350px  </br>
                                Width:700px
                            </h6>
                        </div>

                    </div>
                </div>

            </div>
        </div>


        <div class="col col-md-4 col-sm-6">
            <div class="card styleboximg">
                <div class="">
                    <a href="/home/ImagePage/?id=cat"> <img class="card-img-top" src="/content/images/animals/cat.png" style="max-width:100%; padding:2px;" /></a>
                    <div class="card-body">

                        <div class="container-fluid">
                            <h5 class="style1">
                                Cats x 3 - Easy
                            </h5>
                        </div>
                        <div class="container-fluid">
                            <h6 class="style1">
                                Size: </br>
                                Height:350px  </br>
                                Width:700px
                            </h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col col-md-4 col-sm-6">
            <div class="card styleboximg">
                <div class="">
                    <a href="#"> <img class="card-img-top" src="/content/images/animals/Rabbit.png" style="max-width:100%; padding:2px;" /></a>
                    <div class="card-body">

                        <div class="container-fluid">
                            <h5 class="style1">
                                Rabbits x 3 - Easy
                            </h5>
                        </div>
                        <div class="container-fluid">
                            <h6 class="style1">
                                Size: </br>
                                Height:350px  </br>
                                Width:700px
                            </h6>
                        </div>
                    </div>
                </div>

            </div>
        </div>



    </div>
</div>

<div class="container-fluid">
    <div class="row">

        <div class="col col-md-4 col-sm-6">
            <div class="card styleboximg">
                <div class="">
                    <a href="#"> <img class="card-img-top" src="/content/images/animals/fish.png" style="max-width:100%; padding:2px;" /></a>
                    <div class="card-body">
                    </div>

                    <div class="container-fluid">
                        <h5 class="style1">
                            Fish x 3 - Easy
                        </h5>
                    </div>
                    <div class="container-fluid">
                        <h6 class="style1">
                            Size: </br>
                            Height:350px  </br>
                            Width:700px
                        </h6>
                    </div>
                </div>

            </div>
        </div>



        <div class="col col-md-4 col-sm-6">
            <div class="card styleboximg">
                <div class="">
                    <a href="#"> <img class="card-img-top" src="/content/images/animals/fish2.png" style="max-width:100%; padding:2px;" /></a>
                    <div class="card-body">

                        <div class="container-fluid">
                            <h5 class="style1">
                                Fish x 3 - Medium
                            </h5>
                        </div>
                        <div class="container-fluid">
                            <h6 class="style1">
                                Size: </br>
                                Height:350px  </br>
                                Width:700px
                            </h6>
                        </div>
                    </div>
                </div>


            </div>
        </div>




        <div class="col col-md-4 col-sm-6">
            <div class="card styleboximg">
                <div class="">
                    <a href="#"> <img class="card-img-top" src="/content/images/animals/tortiose.png" style="max-width:100%; padding:2px;" /></a>
                    <div class="card-body">

                        <div class="container-fluid">
                            <h5 class="style1">
                                Tortiose x 2 - Medium
                            </h5>
                        </div>
                        <div class="container-fluid">
                            <h6 class="style1">
                                Size: </br>
                                Height:350px  </br>
                                Width:700px
                            </h6>
                        </div>
                    </div>
                </div>


            </div>
        </div>

    </div>
</div>

<div class="container-fluid">
    <div class="row">

        <div class="col col-md-4 col-sm-6">
            <div class="card styleboximg">
                <div class="">
                    <a href="#"> <img class="card-img-top" src="/content/images/animals/whales.png" style="max-width:100%; padding:2px;" /></a>
                    <div class="card-body">


                        <div class="container-fluid">
                            <h5 class="style1">
                                Whale x 3 - Easy
                            </h5>
                        </div>
                        <div class="container-fluid">
                            <h6 class="style1">
                                Size: </br>
                                Height:350px  </br>
                                Width:700px
                            </h6>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="col col-md-4 col-sm-6">
            <div class="card styleboximg">
                <div class="">
                    <a href="#"> <img class="card-img-top" src="/content/images/animals/lizards.png" style="max-width:100%; padding:2px;" /></a>
                    <div class="card-body">


                        <div class="container-fluid">
                            <h5 class="style1">
                                lizard x 3 - Easy
                            </h5>
                        </div>
                        <div class="container-fluid">
                            <h6 class="style1">
                                Size: </br>
                                Height:350px  </br>
                                Width:700px
                            </h6>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="col col-md-4 col-sm-6">
            <div class="card styleboximg">
                <div class="">
                    <a href="#"> <img class="card-img-top" src="/content/images/animals/insects.png" style="max-width:100%; padding:2px;" /></a>
                    <div class="card-body">


                        <div class="container-fluid">
                            <h5 class="style1">
                                Insects x 3 - Easy
                            </h5>
                        </div>
                        <div class="container-fluid">
                            <h6 class="style1">
                                Size: </br>
                                Height:350px  </br>
                                Width:700px
                            </h6>
                        </div>
                    </div>
                </div>

            </div>
        </div>


    </div>
    </div>


<div class="container-fluid">
    <div class="row">


        <div class="col col-md-4 col-sm-6">
            <div class="card styleboximg">
                <div class="">
                    <a href="#"> <img class="card-img-top" src="/content/images/animals/horses.png" style="max-width:100%; padding:2px;" /></a>
                    <div class="card-body">


                        <div class="container-fluid">
                            <h5 class="style1">
                                Horse x 3 - Easy
                            </h5>
                        </div>
                        <div class="container-fluid">
                            <h6 class="style1">
                                Size: </br>
                                Height:350px  </br>
                                Width:700px
                            </h6>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="col col-md-4 col-sm-6">
            <div class="card styleboximg">
                <div class="">
                    <a href="#"> <img class="card-img-top" src="/content/images/animals/pigs.png" style="max-width:100%; padding:2px;" /></a>
                    <div class="card-body">


                        <div class="container-fluid">
                            <h5 class="style1">
                                Pig x 3 - Easy
                            </h5>
                        </div>
                        <div class="container-fluid">
                            <h6 class="style1">
                                Size: </br>
                                Height:350px  </br>
                                Width:700px
                            </h6>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="col col-md-4 col-sm-6">
            <div class="card styleboximg">
                <div class="">
                    <a href="#"> <img class="card-img-top" src="/content/images/animals/lions.png" style="max-width:100%; padding:2px;" /></a>
                    <div class="card-body">


                        <div class="container-fluid">
                            <h5 class="style1">
                                Lion x 3 - Easy
                            </h5>
                        </div>
                        <div class="container-fluid">
                            <h6 class="style1">
                                Size: </br>
                                Height:350px  </br>
                                Width:700px
                            </h6>
                        </div>
                    </div>
                </div>

            </div>
        </div>









    </div>
        </div>

        <div class="container-fluid">
            <div class="row">
                <div class="picturepage">



                </div>
            </div>
        </div>
