<div class="container-fluid" style="text-align:center;">
    <h2 class="title"> Disney </h2>
    <i class="fab fa-fort-awesome" style="font-size:40px; text-align:center; padding:5px;"></i>
    <p class="stylehead" style="font-weight:bolder;"> Free outlines of a variety of Disney Characters such as Olaf from Frozen and  Ariel from The Little Mermaid <br /> Idea: Create a poster featuring all of your favourite outlines <br /> The possibiltes are endless! </p>

    <p class="stylehead" style="font-size:medium">
        Don't see an outline you like? Contact us and suggest some new outlines <br />
        The outlines range from easy to hard suitng everyones needs <br />
        Select the outline you love and follow the instructions
    </p>

</div>


<!-- row 1 -->
<div class="container-fluid containersize">
    <div class="row">

        <!-- box 1 -->
        <div class="col col-md-4 col-sm-12">
            <div class="card styleboximg styleboximg2">
                <div class="">
                    <a href="/home/ImagePage/?id=dis1"> <img class="card-img-top" src="/content/images/disney/dis1.png" style="max-width:100%; padding:2px;" /></a>
                    <div class="card-body">


                        <div class="container-fluid">
                            <h5 class="style1">
                                Mickey Mouse x 1 - Easy
                            </h5>
                        </div>

                        <div class="container-fluid">
                            <h6 class="style1">
                                Size: </br>
                                Height:720px  </br>
                                Width:1280px
                            </h6>
                        </div>

                    </div>
                </div>

            </div>
        </div>


        <!-- box 2 -->
        <div class="col col-md-4 col-sm-12">
            <div class="card styleboximg styleboximg2">
                <div class="">
                    <a href="/home/ImagePage/?id=dis2"> <img class="card-img-top" src="/content/images/disney/dis2.png" style="max-width:100%; padding:2px;" /></a>
                    <div class="card-body">

                        <div class="container-fluid">
                            <h5 class="style1">
                                Mickey Mouse Face x 1 - Easy
                            </h5>
                        </div>
                        <div class="container-fluid">
                            <h6 class="style1">
                                Size: </br>
                                Height:720px  </br>
                                Width:1280px
                            </h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <!-- box 3 -->
        <div class="col col-md-4 col-sm-12">
            <div class="card styleboximg styleboximg2">
                <div class="">
                    <a href="/home/ImagePage/?id=dis3"> <img class="card-img-top" src="/content/images/disney/dis3.png" style="max-width:100%; padding:2px;" /></a>
                    <div class="card-body">

                        <div class="container-fluid">
                            <h5 class="style1">
                                Minnie Mouse Face - Medium
                            </h5>
                        </div>
                        <div class="container-fluid">
                            <h6 class="style1">
                                Size: </br>
                                Height:720px  </br>
                                Width:1280px
                            </h6>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>


<!-- row 2 -->
<div class="container-fluid containersize">
    <div class="row">

        <!-- box 1 -->
        <div class="col col-md-4 col-sm-12">
            <div class="card styleboximg styleboximg2 ">
                <div class="">
                    <a href="/home/ImagePage/?id=dis4"> <img class="card-img-top" src="/content/images/disney/dis4.png" style="max-width:100%; padding:2px;" /></a>
                    <div class="card-body">


                        <div class="container-fluid">
                            <h5 class="style1">
                                Donald Duck Face x 1 - Medium
                            </h5>
                        </div>

                        <div class="container-fluid">
                            <h6 class="style1">
                                Size: </br>
                                Height:720px  </br>
                                Width:1280px
                            </h6>
                        </div>

                    </div>
                </div>

            </div>
        </div>


        <!-- box 2 -->
        <div class="col col-md-4 col-sm-12">
            <div class="card styleboximg styleboximg2">
                <div class="">
                    <a href="/home/ImagePage/?id=dis5"> <img class="card-img-top" src="/content/images/disney/dis5.png" style="max-width:100%; padding:2px;" /></a>
                    <div class="card-body">

                        <div class="container-fluid">
                            <h5 class="style1">
                                Daisy Duck Face x 1 - Medium
                            </h5>
                        </div>
                        <div class="container-fluid">
                            <h6 class="style1">
                                Size: </br>
                                Height:720px  </br>
                                Width:1280px
                            </h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <!-- box 3 -->
        <div class="col col-md-4 col-sm-12">
            <div class="card styleboximg styleboximg2">
                <div class="">
                    <a href="/home/ImagePage/?id=dis6"> <img class="card-img-top" src="/content/images/disney/dis6.png" style="max-width:100%; padding:2px;" /></a>
                    <div class="card-body">

                        <div class="container-fluid">
                            <h5 class="style1">
                                Goofy Face - Medium
                            </h5>
                        </div>
                        <div class="container-fluid">
                            <h6 class="style1">
                                Size: </br>
                                Height:720px  </br>
                                Width:1280px
                            </h6>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<!-- row 3 -->
<div class="container-fluid containersize">
    <div class="row">

        <!-- box 1 -->
        <div class="col col-md-4 col-sm-12">
            <div class="card styleboximg styleboximg2 ">
                <div class="">
                    <a href="/home/ImagePage/?id=dis7"> <img class="card-img-top" src="/content/images/disney/dis7.png" style="max-width:100%; padding:2px;" /></a>
                    <div class="card-body">


                        <div class="container-fluid">
                            <h5 class="style1">
                                Olaf x 1 - Medium
                            </h5>
                        </div>

                        <div class="container-fluid">
                            <h6 class="style1">
                                Size: </br>
                                Height:720px  </br>
                                Width:1280px
                            </h6>
                        </div>

                    </div>
                </div>

            </div>
        </div>


        <!-- box 2 -->
        <div class="col col-md-4 col-sm-12">
            <div class="card styleboximg styleboximg2">
                <div class="">
                    <a href="/home/ImagePage/?id=dis8"> <img class="card-img-top" src="/content/images/disney/dis8.png" style="max-width:100%; padding:2px;" /></a>
                    <div class="card-body">

                        <div class="container-fluid">
                            <h5 class="style1">
                                Sven x 1 - Medium
                            </h5>
                        </div>
                        <div class="container-fluid">
                            <h6 class="style1">
                                Size: </br>
                                Height:720px  </br>
                                Width:1280px
                            </h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <!-- box 3 -->
        <div class="col col-md-4 col-sm-12">
            <div class="card styleboximg styleboximg2">
                <div class="">
                    <a href="/home/ImagePage/?id=dis9"> <img class="card-img-top" src="/content/images/disney/dis9.png" style="max-width:100%; padding:2px;" /></a>
                    <div class="card-body">

                        <div class="container-fluid">
                            <h5 class="style1">
                                Elsa and Anna - Hard
                            </h5>
                        </div>
                        <div class="container-fluid">
                            <h6 class="style1">
                                Size: </br>
                                Height:720px  </br>
                                Width:1280px
                            </h6>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>


<!-- row 4 -->
<div class="container-fluid containersize">
    <div class="row">

        <!-- box 1 -->
        <div class="col col-md-4 col-sm-12">
            <div class="card styleboximg styleboximg2 ">
                <div class="">
                    <a href="/home/ImagePage/?id=dis10"> <img class="card-img-top" src="/content/images/disney/dis10.png" style="max-width:100%; padding:2px;" /></a>
                    <div class="card-body">


                        <div class="container-fluid">
                            <h5 class="style1">
                                Ariel x 1 - Medium
                            </h5>
                        </div>

                        <div class="container-fluid">
                            <h6 class="style1">
                                Size: </br>
                                Height:720px  </br>
                                Width:1280px
                            </h6>
                        </div>

                    </div>
                </div>

            </div>
        </div>


        <!-- box 2 -->
        <div class="col col-md-4 col-sm-12">
            <div class="card styleboximg styleboximg2">
                <div class="">
                    <a href="/home/ImagePage/?id=dis11"> <img class="card-img-top" src="/content/images/disney/dis11.png" style="max-width:100%; padding:2px;" /></a>
                    <div class="card-body">

                        <div class="container-fluid">
                            <h5 class="style1">
                                Sebastian x 1 - Medium
                            </h5>
                        </div>
                        <div class="container-fluid">
                            <h6 class="style1">
                                Size: </br>
                                Height:720px  </br>
                                Width:1280px
                            </h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <!-- box 3 -->
        <div class="col col-md-4 col-sm-12">
            <div class="card styleboximg styleboximg2">
                <div class="">
                    <a href="/home/ImagePage/?id=dis12"> <img class="card-img-top" src="/content/images/disney/dis12.png" style="max-width:100%; padding:2px;" /></a>
                    <div class="card-body">

                        <div class="container-fluid">
                            <h5 class="style1">
                                Flounder x 1 - Easy
                            </h5>
                        </div>
                        <div class="container-fluid">
                            <h6 class="style1">
                                Size: </br>
                                Height:720px  </br>
                                Width:1280px
                            </h6>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>


<!-- button -->

<div class="container-fluid">

    <div class="butcenter">


        <button class="buttonout buttonout2" onclick="goBack()">Go Back</button>

        <script>
function goBack() {
                            window.history.back();
                        }</script>


        </a>

    </div>
</div>