
@{
    ViewBag.Title = "fruitandvegetables";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


    <div class="container-fluid" style="text-align:center;">
        <h2 class="title">Fruit and Vegetables </h2>
        <i class="fas fa-apple-alt" style="font-size:40px; text-align:center; padding:5px;"></i>
        <p class="stylehead" style="font-weight:bolder;">  Free outlines of a variety of fruit and vegetables <br /> Idea: Why not create your own personal recipie booklet and decorate it with the outlines you have used <br /> The possibilites are endless!</p>

        <p class="stylehead" style="font-size:medium;">
            Don't see an outline you like? Contact us and suggest some new outlines <br />
            The outlines range from easy to hard suitng everyones needs <br />
            Select the outline you love and follow the instructions
        </p>

    </div>

<div class="container-fluid containersize">
    <div class="row">

        <div class="col col-md-4 col-sm-12">
            <div class="card styleboximgfruit styleboximgfruit2">
                <div class="">
                    <a href="/home/ImagePage/?id=fruit1"> <img class="card-img-top" src="/content/images/fruitandvegetables/fruit1.png" style="max-width:100%; padding:2px;" /></a>
                    <div class="card-body">


                        <div class="container-fluid">
                            <h5 class="style1">
                                Fruit x 3 - Easy:
                            </h5>
                            <div class="style1">
        <p> Apple x 1 </p>
        <p> Pear x 1 </p>
        <p> Bananna x 1 </p>
    </div>
       


                        </div>
                        <div class="container-fluid">
                            <h6 class="style1">
                                Size: <br />
                                Height:350px  <br />
                                Width:700px
                            </h6>
                        </div>
                    </div>
                </div>

            </div>
        </div>


        <div class="col col-md-4 col-sm-12">
            <div class="card styleboximgfruit styleboximgfruit2">
                <div class="">
                    <a href="/home/ImagePage/?id=fruit2"> <img class="card-img-top" src="/content/images/fruitandvegetables/fruit2.png" style="max-width:100%; padding:2px;" /></a>
                    <div class="card-body">

                        <div class="container-fluid">
                            <h5 class="style1">
                                Vegetables x 3 - Easy:
                            </h5>
                            
    <div class="style1">
        <p> Broccoli x 1 </p>
        <p> Carrot x 1 </p>
        <p> Pepper x 1 </p>
    </div>
                   </div>
                     

                        <div class="container-fluid">
                            <h6 class="style1">
                                Size: <br />
                                Height:350px  <br />
                                Width:700px
                            </h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col col-md-4 col-sm-12">
            <div class="card styleboximgfruit styleboximgfruit2">
                <div class="">
                    <a href="/home/ImagePage/?id=fruit3"> <img class="card-img-top" src="/content/images/fruitandvegetables/fruit3.png" style="max-width:100%; padding:2px;" /></a>
                    <div class="card-body">

                        <div class="container-fluid">
                            <h5 class="style1">
                                Fruit x 3 - Hard:
                            </h5>
                            
    <div class="style1">
        <p> Lemon x 1 </p>
        <p> Kiwi x 1 </p>
        <p> Orange x 1 </p>
    </div>
        
                        </div>
                        <div class="container-fluid">
                            <h6 class="style1">
                                Size: <br />
                                Height:350px  <br />
                                Width:700px
                            </h6>
                        </div>
                    </div>
                </div>

            </div>
        </div>



    </div>
</div>

<div class="container-fluid containersize">
    <div class="row">

        <div class="col col-md-4 col-sm-12">
            <div class="card styleboximgfruit styleboximgfruit2">
                <div class="">
                    <a href="/home/ImagePage/?id=fruit4"> <img class="card-img-top" src="/content/images/fruitandvegetables/fruit4.png" style="max-width:100%; padding:2px;" /></a>
                    <div class="card-body">


                        <div class="container-fluid">
                            <h5 class="style1">
                                Vegetables x 3 - Medium:
                            </h5>
                                                         <div class="style1">
        <p> Avocado x 3 </p>

        </>
       

                        </div>
                            <div class="container-fluid">
                                <h6 class="style1">
                                    Size: <br />
                                    Height:350px  <br />
                                    Width:700px
                                </h6>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>


        <div class="col col-md-4 col-sm-12">
            <div class="card styleboximgfruit styleboximgfruit2">
                <div class="">
                    <a href="/home/ImagePage/?id=fruit5"> <img class="card-img-top" src="/content/images/fruitandvegetables/fruit5.png" style="max-width:100%; padding:2px;" /></a>
                    <div class="card-body">


                        <div class="container-fluid">
                            <h5 class="style1">
                                Exotic Fruit x 3 - Hard:
                            </h5>
                                                        <div class="style1">
        <p> Pineapple x 1 </p>
        <p> Fig x 1 </p>
        <p> Mango x 1 </p>
    </div>
        

                        </div>
                        <div class="container-fluid">
                            <h6 class="style1">
                                Size: <br />
                                Height:350px  <br />
                                Width:700px
                            </h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col col-md-4 col-sm-12">
          
        </div>


    </div>

    </div>




<!-- button -->

<div class="container-fluid">

    <div class="butcenter">


        <button class="buttonout buttonout2" onclick="goBack()">Go Back</button>

        <script>
function goBack() {
                            window.history.back();
                        }</script>


        </a>

    </div>
</div>





