




<div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center">
    <div class="col-md-5 p-lg-5 mx-auto my-5">
        <div class="boxhome">

            <img src="content/scribbleinpage.png" style="max-width:400px; height:unset; margin-top:30px;" />

        </div>

        <div class="container=fluid" style="margin:auto;">

            <h3 class="style8"> ALL OUTLINES ARE FREE </h3>

            <h3 class="style7"> Colour  </h3> <h3 class="style7"> Paint </h3> <h3 class="style7"> Repeat </h3>
        </div>
        <!-- <a class="btn btn-outline-secondary" href="#">Coming soon</a> -->
    </div>
</div>




<!--boxes-->

<div class="container-fluid">

    <div class="row" id="section2">

        <div class="col-md-4 col-sm-12 mx-auto">
            <div class="stylebox stylebox2">
                <i class="fas fa-paw" style="font-size:35px;"></i>
                <a href="/home/animals"> <h2 class="boxes"> Animals </h2></a>

            </div>
        </div>

        <div class="col-md-4 col-sm-12 mx-auto">
            <div class="stylebox stylebox2">
                <i class="fas fa-leaf" style="font-size:35px;"></i>
                <a href="/home/plants"> <h2 class="boxes"> Plants and  Flowers </h2></a>
            </div>
        </div>


        <div class="col-md-4 col-sm-12 mx-auto">
            <div class="stylebox stylebox2">
                <i class="fas fa-apple-alt" style="font-size:35px;"></i>
                <a href="/home/fruitandvegetables"> <h2 class="boxes"> Fruit and Vegetables </h2></a>
            </div>
        </div>

    </div>

    <div class="row">

        <div class="col-md-4 col-sm-12 mx-auto">
            <div class="stylebox stylebox2">
                <i class="fas fa-dragon" style="font-size:35px;"></i>
                <a href="/home/mythicalcreatures"> <h2 class="boxes"> Mythical Creatures </h2></a>
            </div>
        </div>

        <div class="col-md-4 col-sm-12 mx-auto">
            <div class="stylebox stylebox2">
                <i class="fas fa-car" style="font-size:35px;"></i>
                <a href="/home/transport"> <h2 class="boxes"> Transport </h2></a>
            </div>
        </div>


        <div class="col-md-4 col-sm-12 mx-auto">
            <div class="stylebox stylebox2">
                <i class="fab fa-fort-awesome" style="font-size:35px;"></i>
                <a href="/home/disney"> <h2 class="boxes"> Disney </h2></a>
            </div>

        </div>

    </div>
</div>


<div class="container-fluid">
    <div class="row" id="section1">


        <div class="contabout">

            <h2 class="contabout"> About Us </h2>
            <p class="styleabout"> Colouring is a great way to relax and de-stress <br /> For children, being creative is a great way to expand their imagination in addition to improving motorskills <br /> We have a variety of outlines ranging from easy to hard suiting everyones needs <br /> Perhaps colouring isnt for you? try painting or use our outlines as insipiration for your own designs <br /> Our outlines have two thin lines as a border allowing you to colour within the border to create an image with more depth and detail <br /> Scroll down to start your creative journey   </p>

        </div>
    </div>
</div>







<!-- contact us -->


<div class="container-fluid">
    <div class="row" id="section3">
        <div class="contus">
            <h2 class="contus">
                Contact Us
            </h2>
            <p class="styleus"> Request new outlines at scribblein20@gmail.com  </p>
        </div>
    </div>
</div>




