




<div class="container-fluid">
    <div class="row">
        <div class="homepageimg">



        </div>
    </div>
</div>





<!--boxes-->
<!-- row 1 -->
<!-- about us -->
<div class="container-fluid">
    <div class="row" id="section1">


        <div class="contabout">

            <h2 class="contabout"> About Us </h2>
            <p> </p>

        </div>
    </div>
</div>

<!-- boxes -->

<div class="container-fluid">
    <div class="row">

        <!-- animals -->
        <div class="col col-md-4 col-sm-12">
            <div class="circlebox">

                <a href="/home/animals"> <h2 class="boxes"> Animals </h2></a>

            </div>
        </div>

        <!-- plants -->
        <div class="col col-md-4 col-sm-12">
            <div class="circlebox">

                <a href="/home/plants"> <h2 class="boxes"> Plants and  Flowers </h2></a>

            </div>
        </div>


        <!-- Flowers -->
        <div class="col col-md-4 col-sm-12">
            <div class="circlebox">

                <a href="/home/fruitandvegetables"> <h2 class="boxes"> Fruit and Vegetables </h2></a>

            </div>
        </div>

    </div>
</div>



<div class="container-fluid">
    <div class="row">

        <!-- Food -->
        <div class="col col-md-4 col-sm-12">
            <div class="circlebox">

                <a href=""> <h2 class="boxes"> Title </h2></a>

            </div>
        </div>

        <!-- Drinks -->
        <div class="col col-md-4 col-sm-12">
            <div class="circlebox">

                <a href=""> <h2 class="boxes"> Title </h2></a>

            </div>
        </div>


        <!-- Food -->
        <div class="col col-md-4 col-sm-12">
            <div class="circlebox">

                <a href=""> <h2 class="boxes"> Title </h2></a>

            </div>
        </div>

    </div>
</div>


