




<div class="container-fluid">
    <div class="row">
        <div class="homepageimg">


            <div class="boxhome">

                <img src="content/scribbleinpage.png" style="max-width:400px; height:unset; margin-top:30px;" />

            </div>

            <div class="container=fluid" style="margin:auto;">

                <h3 class="style8"> ALL OUTLINES ARE FREE </h3>

                <h3 class="style7"> Colour  </h3> <h3 class="style7"> Paint </h3> <h3 class="style7"> Repeat </h3>
            </div>


        </div>
    </div>
</div>





<!--boxes-->
<!-- row 1 -->
<!-- about us -->
<div class="container-fluid">
    <div class="row" id="section1">


        <div class="contabout">

            <h2 class="contabout"> About Us </h2>
            <p class="styleabout"> Coloring is a great way to relax and forget about everything stressful that is going <br /> For children, being creative is a great way to expand their imagination in addition to improving motorskills <br /> We have a variety of outlines ranging from easy to hard to suit everyones needs <br /> Perhaps colouring isnt for you? try painting or use the outlines as insipiration for your own desgins <br /> Our outlines have two thin lines as a border allowing you to colour within the border to create an image with more depth and detail <br /> scroll down to start your creative journey   </p>

        </div>
    </div>
</div>

<!-- boxes -->

<div class="container-fluid">
    <div class="row" id="section2">

        <!-- animals -->
        <div class="col col-md-4 col-sm-12">
            <div class="circlebox">

                <a href="/home/animals"> <h2 class="boxes"> Animals </h2></a>

            </div>
        </div>

        <!-- plants -->
        <div class="col col-md-4 col-sm-12">
            <div class="circlebox">

                <a href="/home/plants"> <h2 class="boxes"> Plants and  Flowers </h2></a>

            </div>
        </div>


        <!-- Flowers -->
        <div class="col col-md-4 col-sm-12">
            <div class="circlebox">

                <a href="/home/fruitandvegetables"> <h2 class="boxes"> Fruit and Vegetables </h2></a>

            </div>
        </div>

    </div>
</div>



<div class="container-fluid">
    <div class="row">

        

    </div>
</div>


<div class="container-fluid">
    <div class="row" id="section3">
        <div class="contus">
            <h2 class="contus">
                Contact Us 
            </h2>
            <p class="styleus"> Request new outlines at scribblein20@gmail.com  </p>
        </div>
    </div>
</div>
