

<div class="container-fluid">
    <h2 class="title"> Mythical Creatures </h2>

    <p class="stylehead" style="font-weight:bolder;"> Free outlines of a variety of Mythical Creatures such as Unicorns, Dragons and many more <br /> Idea: get creative and create a storybook with the outlines you have coloured or painted <br /> The possibiltes are endless! </p>

    <p class="stylehead" style="font-size:medium">
        Dont see an outline you like? contact us and suggest some new outlines <br />
        The outlines range from easy to hard suitng everyones needs <br />
        Select the outline you love and follow the instructions
    </p>

</div>


<!-- row 1 -->
<div class="container-fluid containersize">
    <div class="row">

        <!-- box 1 -->
        <div class="col col-md-4 col-sm-12">
            <div class="card styleboximg  ">
                <div class="">
                    <a href="/home/ImagePage/?id=uni1"> <img class="card-img-top" src="/content/images/mythicalcreatures/uni1.png" style="max-width:100%; padding:2px;" /></a>
                    <div class="card-body">


                        <div class="container-fluid">
                            <h5 class="style1">
                                Unicorn x 2 - Easy
                            </h5>
                        </div>

                        <div class="container-fluid">
                            <h6 class="style1">
                                Size: </br>
                                Height:720px  </br>
                                Width:1280px
                            </h6>
                        </div>

                    </div>
                </div>

            </div>
        </div>


        <!-- box 2 -->
        <div class="col col-md-4 col-sm-12">
            <div class="card styleboximg">
                <div class="">
                    <a href="/home/ImagePage/?id=uni2"> <img class="card-img-top" src="/content/images/mythicalcreatures/uni2.png" style="max-width:100%; padding:2px;" /></a>
                    <div class="card-body">

                        <div class="container-fluid">
                            <h5 class="style1">
                                Unicorn x 1 - Easy
                            </h5>
                        </div>
                        <div class="container-fluid">
                            <h6 class="style1">
                                Size: </br>
                                Height:720px  </br>
                                Width:1280px
                            </h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <!-- box 3 -->
        <div class="col col-md-4 col-sm-12">
            <div class="card styleboximg">
                <div class="">
                    <a href="/home/ImagePage/?id=uni3"> <img class="card-img-top" src="/content/images/mythicalcreatures/uni3.png" style="max-width:100%; padding:2px;" /></a>
                    <div class="card-body">

                        <div class="container-fluid">
                            <h5 class="style1">
                                Unicorn x 2 - Easy
                            </h5>
                        </div>
                        <div class="container-fluid">
                            <h6 class="style1">
                                Size: </br>
                                Height:720px  </br>
                                Width:1280px
                            </h6>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>


<!-- row 2 -->
<div class="container-fluid containersize">
    <div class="row">

        <!-- box 1 -->
        <div class="col col-md-4 col-sm-12">
            <div class="card styleboximg">
                <div class="">
                    <a href="/home/ImagePage/?id=uni4"> <img class="card-img-top" src="/content/images/mythicalcreatures/uni4.png" style="max-width:100%; padding:2px;" /></a>
                    <div class="card-body">

                        <div class="container-fluid">
                            <h5 class="style1">
                                Unicorn head x 1 - Medium
                            </h5>
                        </div>
                        <div class="container-fluid">
                            <h6 class="style1">
                                Size: </br>
                                Height:720px  </br>
                                Width:1280px
                            </h6>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <!-- box 2 -->
        <div class="col col-md-4 col-sm-12">
            <div class="card styleboximg">
                <div class="">
                    <a href="/home/ImagePage/?id=drag1"> <img class="card-img-top" src="/content/images/mythicalcreatures/drag1.png" style="max-width:100%; padding:2px;" /></a>
                    <div class="card-body">

                        <div class="container-fluid">
                            <h5 class="style1">
                                Dragon x 1 - Easy
                            </h5>
                        </div>
                        <div class="container-fluid">
                            <h6 class="style1">
                                Size: </br>
                                Height:720px  </br>
                                Width:1280px
                            </h6>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <!-- box 3 -->
        <div class="col col-md-4 col-sm-12">
            <div class="card styleboximg">
                <div class="">
                    <a href="/home/ImagePage/?id=drag2"> <img class="card-img-top" src="/content/images/mythicalcreatures/drag2.png" style="max-width:100%; padding:2px;" /></a>
                    <div class="card-body">

                        <div class="container-fluid">
                            <h5 class="style1">
                                Dragon x 1 - Easy
                            </h5>
                        </div>
                        <div class="container-fluid">
                            <h6 class="style1">
                                Size: </br>
                                Height:720px  </br>
                                Width:1280px
                            </h6>
                        </div>
                    </div>
                </div>

            </div>
        </div>



    </div>
</div>

<!-- row 3 -->
<div class="container-fluid containersize">
    <div class="row">

        <!-- box 1 -->
        <div class="col col-md-4 col-sm-12">
            <div class="card styleboximg">
                <div class="">
                    <a href="/home/ImagePage/?id=drag3"> <img class="card-img-top" src="/content/images/mythicalcreatures/drag3.png" style="max-width:100%; padding:2px;" /></a>
                    <div class="card-body">

                        <div class="container-fluid">
                            <h5 class="style1">
                                Dragon x 1 - Medium
                            </h5>
                        </div>
                        <div class="container-fluid">
                            <h6 class="style1">
                                Size: </br>
                                Height:720px  </br>
                                Width:1280px
                            </h6>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <!-- box 2 -->
        <div class="col col-md-4 col-sm-12">
            <div class="card styleboximg">
                <div class="">
                    <a href="/home/ImagePage/?id=fairy1"> <img class="card-img-top" src="/content/images/mythicalcreatures/fairy1.png" style="max-width:100%; padding:2px;" /></a>
                    <div class="card-body">

                        <div class="container-fluid">
                            <h5 class="style1">
                                Fairy x 2 - Medium
                            </h5>
                        </div>
                        <div class="container-fluid">
                            <h6 class="style1">
                                Size: </br>
                                Height:720px  </br>
                                Width:1280px
                            </h6>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <!-- box 3 -->
        <div class="col col-md-4 col-sm-12">
            <div class="card styleboximg">
                <div class="">
                    <a href="/home/ImagePage/?id=mer1"> <img class="card-img-top" src="/content/images/mythicalcreatures/mer1.png" style="max-width:100%; padding:2px;" /></a>
                    <div class="card-body">

                        <div class="container-fluid">
                            <h5 class="style1">
                                Mermaid x 2 - Medium
                            </h5>
                        </div>
                        <div class="container-fluid">
                            <h6 class="style1">
                                Size: </br>
                                Height:720px  </br>
                                Width:1280px
                            </h6>
                        </div>
                    </div>
                </div>

            </div>
        </div>



    </div>
</div>












<!-- button -->


<div class="butcenter">


    <button class="buttonout2" onclick="goBack()">Go Back</button>

    <script>function goBack() {
            window.history.back();
        }</script>




</div>
                </div>

            </div>


<div class="container-fluid">
    <div class="row">
        <div class="picturepage">

            <img src="/content/pencils2.png" style="height:100%; width:100%;" />

        </div>


    </div>
</div>








