@{
    ViewBag.Title = "Plants";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container-fluid">
    <h2 class="title">Plants and Flowers </h2>


</div>


<div class="container-fluid">
    <div class="row">

        <div class="col col-md-4 col-sm-6">
            <div class="card styleboximg">
                <div class="">
                    <a href="#"> <img class="card-img-top" src="/content/images/plants/cacti.png" style="max-width:100%; padding:2px;" /></a>
                    <div class="card-body">


                        <div class="container-fluid">
                            <h5 class="style1">
                                Cacti x 3 - Hard
                            </h5>
                        </div>
                        <div class="container-fluid">
                            <h6 class="style1">
                                Size: </br>
                                Height:350px  </br>
                                Width:700px
                            </h6>
                        </div>
                    </div>
                </div>

            </div>
        </div>


        <div class="col col-md-4 col-sm-6">
            <div class="card styleboximg">
                <div class="">
                    <a href="#"> <img class="card-img-top" src="/content/images/plants/palm.png" style="max-width:100%; padding:2px;" /></a>
                    <div class="card-body">

                        <div class="container-fluid">
                            <h5 class="style1">
                                Palm Leaves x 3 - Easy
                            </h5>
                        </div>
                        <div class="container-fluid">
                            <h6 class="style1">
                                Size: </br>
                                Height:350px  </br>
                                Width:700px
                            </h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col col-md-4 col-sm-6">
            <div class="card styleboximg">
                <div class="">
                    <a href="#"> <img class="card-img-top" src="/content/images/plants/lillies.png" style="max-width:100%; padding:2px;" /></a>
                    <div class="card-body">

                        <div class="container-fluid">
                            <h5 class="style1">
                                Lillies x 3 - Medium
                            </h5>
                        </div>
                        <div class="container-fluid">
                            <h6 class="style1">
                                Size: </br>
                                Height:350px  </br>
                                Width:700px
                            </h6>
                        </div>
                    </div>
                </div>

            </div>
        </div>



    </div>
</div>

<div class="container-fluid">
    <div class="row">

        <div class="col col-md-4 col-sm-6">
            <div class="card styleboximg">
                <div class="">
                    <a href="#"> <img class="card-img-top" src="/content/images/plants/rose.png" style="max-width:100%; padding:2px;" /></a>
                    <div class="card-body">


                        <div class="container-fluid">
                            <h5 class="style1">
                                Rose x 3 - Hard
                            </h5>
                        </div>
                        <div class="container-fluid">
                            <h6 class="style1">
                                Size: </br>
                                Height:350px  </br>
                                Width:700px
                            </h6>
                        </div>
                    </div>
                </div>

            </div>
        </div>



        <div class="col col-md-4 col-sm-6">
            <div class="card styleboximg">
                <div class="">
                    <a href="#"> <img class="card-img-top" src="/content/images/plants/Succulent.png" style="max-width:100%; padding:2px;" /></a>
                    <div class="card-body">

                        <div class="container-fluid">
                            <h5 class="style1">
                                Succulents x 3 - Medium
                            </h5>
                        </div>
                        <div class="container-fluid">
                            <h6 class="style1">
                                Size: </br>
                                Height:350px  </br>
                                Width:700px
                            </h6>
                        </div>
                    </div>
                </div>


            </div>
        </div>




        <div class="col col-md-4 col-sm-6">
            <div class="card styleboximg">
                <div class="">
                    <a href="#"> <img class="card-img-top" src="/content/images/plants/wildherbs.png" style="max-width:100%; padding:2px;" /></a>
                    <div class="card-body">

                        <div class="container-fluid">
                            <h5 class="style1">
                                Wild Herbs x 4 - Medium
                            </h5>
                        </div>
                        <div class="container-fluid">
                            <h6 class="style1">
                                Size: </br>
                                Height:350px  </br>
                                Width:700px
                            </h6>
                        </div>
                    </div>
                </div>


            </div>
        </div>

    </div>
</div>








    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="picturepage">



        </div>
    </div>
</div>
