<div class="container termsstyle">
    <h1> PRIVACY POLICY </h1>
    <p>
        Scribblein.co.uk has implemented all reasonable measures to protect against unauthorised access to and unlawful interception or processing of personal information that we control. This Privacy Policy covers the use of cookies by Scribblein.co.uk and does not cover the use of cookies or other tracking technologies by any of its third parties.
    </p>
  
    <br />
    <p>
        Scribblein.co.uk site usage information is occasionally collected automatically about your activities while visiting the Scribblein.co.uk site, including what pages you view and when you view them and information about the browser you are using.
    </p>
    <br />
    <p>
        You agree and understand that you are responsible for maintaining the confidentiality of passwords associated with any account you use to access the Scribblein.co.uk website and services. Accordingly, you agree that you will be solely responsible for all activities that occur under your Scribblein.co.uk account. If you become aware of any unauthorised use of your password or of your account, you agree to contact us immediately.
    </p>
    <br />

    <h3>
        USE OF INFORMATION

    </h3>
    <p>
        Profile information you submit to Scribblein.co.uk will be available to visitors of the website and limited pieces of information may be made available to third party search engines. Scribblein.co.uk may send you website-related announcements from time to time. Generally, you may opt out of such emails by unsubscribing to our email updates.
        Scribblein.co.uk may use information in your profile without identifying you as an individual to third parties. We share your information with third parties only in limited circumstances where we believe such sharing is 1) permitted by you 2) reasonably necessary to offer the service or 3) legally requested as we might be required to disclose user information in compliance with applicable laws.

    </p>
    <br />
    <p>
        We may use third parties to facilitate our operations, such as to host the service at a co-location facility for servers, to process payments for products or services, to offer an online job application process, or to provide search results or links (including sponsored links). In connection with these offerings and business operations, our service providers may have access to your personal information for use for a limited time in connection with these activities.
    </p>
    <br />
    <p>
        Where we utilise third parties for the processing of any personal information, we implement reasonable contractual and technical protections limiting the use of that information to the scribblein.co.uk specified purposes. We let you choose to share information with marketers or electronic commerce providers through on-site offers. We may offer stores or provide services jointly with other websites, brands or companies.
    </p>
    <br/>
    <h3>
        THIRD PARTY ADVERTISING
    </h3>
    <p>
        Advertisements that appear on Scribblein.co.uk are sometimes served directly to users by third party advertisers. They automatically receive your IP address when this happens. These third party advertisers may also download cookies to your computer, or use other technologies such as JavaScript and web beacons to measure the effectiveness of their ads and to personalise advertising content. Doing this allows the advertising network to recognise your computer each time they send you an advertisement in order to measure the effectiveness of their ads and to personalise advertising content. In this way, they may compile information about where individuals using your computer or browser saw their advertisements and determine which advertisements are clicked.
        Scribblein.co.uk does not have access to or control of the cookies that may be placed by the third party advertisers. Third party advertisers have no access to your contact information stored on Scribblein.co.uk unless you choose to share it with them.
    </p>
    <br />
    <h3>
        SECURITY
    </h3>
    <p>
        Scribblein.co.uk takes appropriate precautions to protect our users' information. Your account information is located on a secured server behind a firewall. When you enter sensitive information, we encrypt that information using secure socket layer technology.

    </p>
    <br/>
    <h3>
        CHANGING OR REMOVING INFORMATION
    </h3>
    <p>
        Access and control over most personal information on Scribblein.co.uk is readily available through the profile editing tools. Scribblein.co.uk users may modify or delete any of their profile information at any time by logging into their account. Information will be updated immediately. Individuals who wish to deactivate their Scribblein.co.uk account may do so on the My Account page. Removed information may persist in backup copies for a reasonable period of time but will not be generally available.
    </p>
    <br/>
    <h3>
        UNDER AGE 13 POLICY

    </h3>
    <p>
        Scribblein.co.uk.com does not knowingly collect or solicit personal information from anyone under the age of 13 or knowingly allow such persons to become a member. No one under age 13 may provide any personal information to or on Scribblein.co.uk. If you are under 13, please do not attempt to register for Scribblein.co.uk or send any information about yourself to us. In the event that we learn that we have collected personal information from a child under age 13 without verification of parental consent, we will delete that information.
    </p>
    <br/>
    <h3>
        BETWEEN AGES 13-18 POLICY
    </h3>
    <p>
        Scribblein.co.uk recommends that minors 13-18 years old ask their parents for permission before sending any information about themselves to anyone over the Internet.
    </p>
    <br/>
    <h3>
        LINKS
    </h3>
    <p>
        Scribblein.co.uk may contain links to other websites. We are of course not responsible for the privacy practices of other web sites. We encourage our users to be aware when they leave our site to read the privacy statements of each and every web site that collects personally identifiable information.
        This Privacy Policy was last updated on May 17, 2020. We may revise these policies at any time. Any questions? Please contact us anytime and we will do our best to respond in a timely manner.
    </p>

</div>