


<div class="container termsstyle">
    <h1 style="font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; text-align:center;"> TERMS AND CONDITIONS </h1>
    <br />
    <p class="termsstyle">
        Please read these Terms of Use ("Terms of Use") carefully before using scribblein.co.uk  (“Site"). By accessing this Site, you accept the Terms of Use and agree to be bound by these Terms. If you do not agree to these Terms of Use, do not access this Site. scribblein.co.uk reserves the right to change these Terms of Use at any time, at its own discretion and without any notice to you; however, all such changes will be posted to this Site. The Terms of Use that are applicable to you at any given time are the then-current Terms of Use - The Terms of Use for sites that we link to may be different from our own.

        This Site provides links to various other websites, whether related or affiliated with scribblein.co.uk or otherwise. These other web Sites may have their own Terms of Use policies, which may be different from, or in addition to, the Terms of Use specified herein. By accessing these websites through links provided on this Site, you agree to abide by each applicable Terms of Use policy as therein specified.
    </p>
    <br />
    <h3> YOUR USE OF THE SCRIBBLEIN.CO.UK SITE </h3>
    <p class="termsstyle">
        The viewing or downloading of any content from the FreeVector.com Site grants you only a limited, nonexclusive, revocable license for use solely by you for your own personal use and not for republication, distribution, assignment, sublicense, transfer, sale, preparation of derivative works or other non-personal use. No part of any content, graphic or document may be reproduced in any form or incorporated into any information retrieval system, electronic or mechanical, other than for your personal use.

        Your right to access this Site may be terminated at any time by scribblein.co.uk without notice. Except for the limited rights expressly granted herein, all rights, titles and interest in and to the Site and all materials contained therein are reserved by scribblein.co.uk
    </p>

    <h3> COPYRIGHT & PROPERTY RIGHTS </h3>
    <p class="termsstyle">
        All text, images, graphics, formatting (including without limitation the selection, coordination and arrangement of materials on the Site, and the "look and feel" of the Site), animation, videos, music, sounds, articles, copy, creative, trademarks, logos, and subsidiary, parent, or affiliate company names and other materials on this Site are subject to the intellectual property rights of scribblein.co.uk, it’s subsidiaries and affiliates, and their respective licensors and licensees. These materials may not be copied for commercial use, reverse engineered, decompiled, or disassembled, nor may these materials be modified, reposted to other websites, framed, deep linked to, or otherwise redistributed in any form unless written approval is obtained from the right holders and/or their representatives. - Don’t copy anything from our website unless we tell you it’s okay.
    </p>
    <br />
    <p class="termsstyle">
        International copyright laws give the scribblein.co.uk copyright holders the exclusive right to control the use of the works, content and media posted on our website. All the material published on our website and other digital and wireless platforms is protected by copyright law. The scribblein.co.uk content is also protected as a database by way of database rights. This intellectual property may not be used or reproduced without our express written permission. Use that is made without our consent is a breach of our terms and conditions, is a breach of contract, and violates copyright laws.
        You can use our artworks in any project, publicly accessible web site, web application or any form of presentation publicly accessible through the Internet only according to the scribblein.co.uk terms and conditions, is a breach of contract, and violates copyright laws.
    </p>
    <br />
    <p class="termsstyle">
        As a user of the scribblein.co.uk website, you are allowed to view our content for your personal use on any device that is compatible with scribblein.co.uk (this might be your PC, Mac, laptop, smart phone, tablet or other mobile device) and store our content on that device for your personal use only. Users may not copy scribblein.co.uk content from scribblein.co.uk; manipulate, modify, alter, crop, create derivative works of scribblein.co.uk’s artworks. You may not sell the scribblein.co.uk artworks; license, redistribute, license, assign, lease, convey or transfer scribblein.co.uk artworks; or offer the scribblein.co.uk downloads in their present form or in a modified form to any third party.

    </p>
    <br />
    <p class="termsstyle">
        If scribblein.co.uk notifies you that it believes you are creating, redistributing or republishing content or data in a manner outside the permitted use, you shall immediately cease doing so and remove all infringing content, unless/until scribblein.co.uk reaches an agreement with you regarding your use of scribblein.co.uk content, articles, data or other material published by scribblein.co.uk .You may not scrape scribblein.co.uk and republish the content by any means.

    </p>
    <br />


    <h3>SYSTEM INTEGRITY</h3>
    <p class="termsstyle">
        You may not use any hardware or software intended to damage or interfere with the proper and timely functioning of the Site or to surreptitiously intercept any system, data or personal information from the Site. You may not take any action, which imposes an unreasonable or disproportionately large load on the Site's network or other infrastructure.
    </p>
    <br/>

    <h3> LINKING & THIRD PARTY SITES </h3>
    <p class="termsstyle">
        The Site may contain links to other websites that are completely independent of this Site. scribblein.co.uk is not responsible for the accuracy, content, or authenticity of the information or content contained in any such linked web Site, or for the products or services offered or sold through any such linked web Site. Such links shall not be construed as an approval or endorsement by scribblein.co.uk of the linked website, or information, content, products or services offered therein. These links are provided only as a convenience to you. If you decide to access other web Sites through our Site, you do so at your own risk - Just because we link to another site does not mean we endorse or approve of that website. Click at your own risk.
    </p>
    <br/>
    <h3>
        RIGHT TO CHANGE SITE
    </h3>
    <p class="termsstyle">
        Scribblein.co.uk reserves the right to modify, add or delete any documents, information, graphics or other content appearing on or in connection with the Site, including these Terms of Use, at any time without notice.

    </p>
    <br/>
    <h3>
        INDEMNIFICATION
    </h3>
    <p class="termsstyle">
        You agree to indemnify, defend and hold scribblein.co.uk and its business partners, staff and affiliates harmless, loss, claim and expense, including reasonable attorneys' fees and expenses, related to either your violation of these Terms of Use or your use of the Site.
    </p>
    <br/>
    <h3>

        NO REPRESENTATION OR WARRANTY
    </h3>
    <p class="termsstyle">
        While scribblein.co.uk will use reasonable efforts to ensure that all material on this Site is correct, accuracy cannot be guaranteed and scribblein.co.uk does not assume any responsibility or liability for the accuracy, completeness or authenticity of any information contained in this Site. This Site and all content contained herein are provided to you “as is,” and “as available,” and all warranties, express or implied, are hereby disclaimed, including any warranty of merchantability, non-infringement or fitness for a particular purpose. No information obtained by you from scribblein.co.uk through the Site shall create any warranty not expressly stated herein.

    </p>
    <br/>
    <p class="termsstyle">
        Without limitation, scribblein.co.uk disclaims all warranties regarding the availability of the Site, that the Site will operate error-free, that defects will be corrected or that the Site is free of viruses or other harmful components. Your use of this Site is at your own risk, any content downloaded or otherwise obtained through this Site is provided at your own risk, and you are solely responsible for any damage to your computer system or any data loss that may result from your use of the Site, including without limitation, damage resulting from computer viruses.
    </p>
    <br/>
    <h3> EXCLUSION OF LIABILITY </h3>
    <p class="termsstyle">
        In no event shall scribblein.co.uk be liable for any direct, indirect, special, punitive, exemplary, consequential or other damages whatsoever, including but not limited to loss of use, economic loss, loss of data or loss of profits, without regard to the form of action arising out of or in connection with your use or access of the Site or its content.
    </p>
    <br/>
    <h3>

        GOVERNING LAW

  </h3>
    <br/>
    <p class="termsstyle">
        All provisions in these Terms of Use regarding representations and warranties, indemnification, disclaimers and limitations on liability shall survive any termination of these Terms of Use. Should any part or provision of these Terms of Use be held unlawful, void, invalid or unenforceable, that portion shall be deemed severable from these Terms of Use and shall not affect the validity and enforceability of any remaining provisions.
    </p>
    <br/>
    <p class="termsstyle">
        These Terms of Use were last updated on May 17, 2020. Please contact us if you have anymore questions regarding these Terms of Use.
    </p>
</div>