

<h1> Terms and Conditions </h1>
<br />
<div class="container">
    <h1> Terms and Conditions </h1>
    <br />
    <p>
        Please read these Terms of Use ("Terms of Use") carefully before using scribblein.co.uk  (“Site"). By accessing this Site, you accept the Terms of Use and agree to be bound by these Terms. If you do not agree to these Terms of Use, do not access this Site. scribblein.co.uk reserves the right to change these Terms of Use at any time, at its own discretion and without any notice to you; however, all such changes will be posted to this Site. The Terms of Use that are applicable to you at any given time are the then-current Terms of Use - The Terms of Use for sites that we link to may be different from our own.

        This Site provides links to various other websites, whether related or affiliated with scribblein.co.uk or otherwise. These other web Sites may have their own Terms of Use policies, which may be different from, or in addition to, the Terms of Use specified herein. By accessing these websites through links provided on this Site, you agree to abide by each applicable Terms of Use policy as therein specified.
    </p>
    <br />
    <h3> YOUR USE OF THE SCRIBBLEIN.CO.UK SITE </h3>
    <br />
    <p>
        The viewing or downloading of any content from the FreeVector.com Site grants you only a limited, nonexclusive, revocable license for use solely by you for your own personal use and not for republication, distribution, assignment, sublicense, transfer, sale, preparation of derivative works or other non-personal use. No part of any content, graphic or document may be reproduced in any form or incorporated into any information retrieval system, electronic or mechanical, other than for your personal use.

        Your right to access this Site may be terminated at any time by scribblein.co.uk without notice. Except for the limited rights expressly granted herein, all rights, titles and interest in and to the Site and all materials contained therein are reserved by scribblein.co.uk
    </p>

    <h3> COPYRIGHT & PROPERTY RIGHTS </h3>
    <p>
        All text, images, graphics, formatting (including without limitation the selection, coordination and arrangement of materials on the Site, and the "look and feel" of the Site), animation, videos, music, sounds, articles, copy, creative, trademarks, logos, and subsidiary, parent, or affiliate company names and other materials on this Site are subject to the intellectual property rights of scribblein.co.uk, it’s subsidiaries and affiliates, and their respective licensors and licensees. These materials may not be copied for commercial use, reverse engineered, decompiled, or disassembled, nor may these materials be modified, reposted to other websites, framed, deep linked to, or otherwise redistributed in any form unless written approval is obtained from the right holders and/or their representatives. - Don’t copy anything from our website unless we tell you it’s okay.
    </p>
    <br />
    <p>
        International copyright laws give the scribblein.co.uk copyright holders the exclusive right to control the use of the works, content and media posted on our website. All the material published on our website and other digital and wireless platforms is protected by copyright law. The scribblein.co.uk content is also protected as a database by way of database rights. This intellectual property may not be used or reproduced without our express written permission. Use that is made without our consent is a breach of our terms and conditions, is a breach of contract, and violates copyright laws.
        You can use our artworks in any project, publicly accessible web site, web application or any form of presentation publicly accessible through the Internet only according to the scribblein.co.uk terms and conditions, is a breach of contract, and violates copyright laws.
    </p>
    <br />
    <p>
        As a user of the scribblein.co.uk website, you are allowed to view our content for your personal use on any device that is compatible with scribblein.co.uk (this might be your PC, Mac, laptop, smart phone, tablet or other mobile device) and store our content on that device for your personal use only. Users may not copy scribblein.co.uk content from scribblein.co.uk; manipulate, modify, alter, crop, create derivative works of scribblein.co.uk’s artworks. You may not sell the scribblein.co.uk artworks; license, redistribute, license, assign, lease, convey or transfer scribblein.co.uk artworks; or offer the scribblein.co.uk downloads in their present form or in a modified form to any third party.

    </p>
    <br />
    <p>
        If scribblein.co.uk notifies you that it believes you are creating, redistributing or republishing content or data in a manner outside the permitted use, you shall immediately cease doing so and remove all infringing content, unless/until scribblein.co.uk reaches an agreement with you regarding your use of scribblein.co.uk content, articles, data or other material published by scribblein.co.uk .You may not scrape scribblein.co.uk and republish the content by any means.

    </p>
    <br />


    <h3>SYSTEM INTEGRITY</h3>
    <p>
        You may not use any hardware or software intended to damage or interfere with the proper and timely functioning of the Site or to surreptitiously intercept any system, data or personal information from the Site. You may not take any action, which imposes an unreasonable or disproportionately large load on the Site's network or other infrastructure.
    </p>

</div>