
<div class="container-fluid" style="text-align:center;">
    <h2 class="title">Transport</h2>
    <i class="fas fa-car" style="font-size:40px; text-align:center; padding:5px;"></i>
    <p class="stylehead" style="font-weight:bolder;"> Free outlines of a variety of Transport such as Trains and Bicycles <br /> Idea: Create a poster featuring all of your favourite outlines <br /> The possibiltes are endless! </p>

    <p class="stylehead" style="font-size:medium">
        Don't see an outline you like? Contact us and suggest some new outlines <br />
        The outlines range from easy to hard suitng everyones needs <br />
        Select the outline you love and follow the instructions
    </p>

</div>







<!-- row 1 -->
<div class="container-fluid containersize">
    <div class="row">

        <!-- box 1 -->
        <div class="col col-md-4 col-sm-12">
            <div class="card styleboximg styleboximg2">
                <div class="">
                    <a href="/home/ImagePage/?id=trans1"> <img class="card-img-top" src="/content/images/transport/trans1.png" style="max-width:100%; padding:2px;" /></a>
                    <div class="card-body">


                        <div class="container-fluid">
                            <h5 class="style1">
                                Bus x 1 - Easy
                            </h5>
                        </div>

                        <div class="container-fluid">
                            <h6 class="style1">
                                Size: </br>
                                Height:720px  </br>
                                Width:1280px
                            </h6>
                        </div>

                    </div>
                </div>

            </div>
        </div>


        <!-- box 2 -->
        <div class="col col-md-4 col-sm-12">
            <div class="card styleboximg styleboximg2">
                <div class="">
                    <a href="/home/ImagePage/?id=trans2"> <img class="card-img-top" src="/content/images/transport/trans2.png" style="max-width:100%; padding:2px;" /></a>
                    <div class="card-body">

                        <div class="container-fluid">
                            <h5 class="style1">
                                Train x 1 - Easy
                            </h5>
                        </div>
                        <div class="container-fluid">
                            <h6 class="style1">
                                Size: </br>
                                Height:720px  </br>
                                Width:1280px
                            </h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <!-- box 3 -->
        <div class="col col-md-4 col-sm-12">
            <div class="card styleboximg styleboximg2">
                <div class="">
                    <a href="/home/ImagePage/?id=trans3"> <img class="card-img-top" src="/content/images/transport/trans3.png" style="max-width:100%; padding:2px;" /></a>
                    <div class="card-body">

                        <div class="container-fluid">
                            <h5 class="style1">
                                Car x 2 - Easy
                            </h5>
                        </div>
                        <div class="container-fluid">
                            <h6 class="style1">
                                Size: </br>
                                Height:720px  </br>
                                Width:1280px
                            </h6>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>


<!-- row 2 -->
<div class="container-fluid containersize">
    <div class="row">

        <!-- box 1 -->
        <div class="col col-md-4 col-sm-12">
            <div class="card styleboximg styleboximg2">
                <div class="">
                    <a href="/home/ImagePage/?id=trans4"> <img class="card-img-top" src="/content/images/transport/trans4.png" style="max-width:100%; padding:2px;" /></a>
                    <div class="card-body">


                        <div class="container-fluid">
                            <h5 class="style1">
                                Bicycle x 1 - Easy
                            </h5>
                        </div>

                        <div class="container-fluid">
                            <h6 class="style1">
                                Size: </br>
                                Height:720px  </br>
                                Width:1280px
                            </h6>
                        </div>

                    </div>
                </div>

            </div>
        </div>


        <!-- box 2 -->
        <div class="col col-md-4 col-sm-12">
            <div class="card styleboximg styleboximg2">
                <div class="">
                    <a href="/home/ImagePage/?id=trans5"> <img class="card-img-top" src="/content/images/transport/trans5.png" style="max-width:100%; padding:2px;" /></a>
                    <div class="card-body">

                        <div class="container-fluid">
                            <h5 class="style1">
                                Motorbike x 1 - Hard
                            </h5>
                        </div>
                        <div class="container-fluid">
                            <h6 class="style1">
                                Size: </br>
                                Height:720px  </br>
                                Width:1280px
                            </h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <!-- box 3 -->
        <div class="col col-md-4 col-sm-12">
            <div class="card styleboximg styleboximg2">
                <div class="">
                    <a href="/home/ImagePage/?id=trans6"> <img class="card-img-top" src="/content/images/transport/trans6.png" style="max-width:100%; padding:2px;" /></a>
                    <div class="card-body">

                        <div class="container-fluid">
                            <h5 class="style1">
                                Moped x 1 - Medium
                            </h5>
                        </div>
                        <div class="container-fluid">
                            <h6 class="style1">
                                Size: </br>
                                Height:720px  </br>
                                Width:1280px
                            </h6>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>



<!-- row 3 -->
<div class="container-fluid containersize">
    <div class="row">

        <!-- box 1 -->
        <div class="col col-md-4 col-sm-12">
            <div class="card styleboximg styleboximg2 ">
                <div class="">
                    <a href="/home/ImagePage/?id=trans7"> <img class="card-img-top" src="/content/images/transport/trans7.png" style="max-width:100%; padding:2px;" /></a>
                    <div class="card-body">


                        <div class="container-fluid">
                            <h5 class="style1">
                                Sports Car x 1 - Easy
                            </h5>
                        </div>

                        <div class="container-fluid">
                            <h6 class="style1">
                                Size: </br>
                                Height:720px  </br>
                                Width:1280px
                            </h6>
                        </div>

                    </div>
                </div>

            </div>
        </div>


        <!-- box 2 -->
        <div class="col col-md-4 col-sm-12">
            <div class="card styleboximg styleboximg2">
                <div class="">
                    <a href="/home/ImagePage/?id=trans8"> <img class="card-img-top" src="/content/images/transport/trans8.png" style="max-width:100%; padding:2px;" /></a>
                    <div class="card-body">

                        <div class="container-fluid">
                            <h5 class="style1">
                                Sports Car x 1 - Easy
                            </h5>
                        </div>
                        <div class="container-fluid">
                            <h6 class="style1">
                                Size: </br>
                                Height:720px  </br>
                                Width:1280px
                            </h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <!-- box 3 -->
        <div class="col col-md-4 col-sm-12">
            <div class="card styleboximg styleboximg2">
                <div class="">
                    <a href="/home/ImagePage/?id=trans9"> <img class="card-img-top" src="/content/images/transport/trans9.png" style="max-width:100%; padding:2px;" /></a>
                    <div class="card-body">

                        <div class="container-fluid">
                            <h5 class="style1">
                                Sports Car x 1 - Easy
                            </h5>
                        </div>
                        <div class="container-fluid">
                            <h6 class="style1">
                                Size: </br>
                                Height:720px  </br>
                                Width:1280px
                            </h6>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>



<!-- row 4 -->
<div class="container-fluid containersize">
    <div class="row">

        <!-- box 1 -->
        <div class="col col-md-4 col-sm-12">
            <div class="card styleboximg styleboximg2 ">
                <div class="">
                    <a href="/home/ImagePage/?id=trans10"> <img class="card-img-top" src="/content/images/transport/trans10.png" style="max-width:100%; padding:2px;" /></a>
                    <div class="card-body">


                        <div class="container-fluid">
                            <h5 class="style1">
                                Boat x 1 - Easy
                            </h5>
                        </div>

                        <div class="container-fluid">
                            <h6 class="style1">
                                Size: </br>
                                Height:720px  </br>
                                Width:1280px
                            </h6>
                        </div>

                    </div>
                </div>

            </div>
        </div>


        <!-- box 2 -->
        <div class="col col-md-4 col-sm-12">
            <div class="card styleboximg styleboximg2">
                <div class="">
                    <a href="/home/ImagePage/?id=trans11"> <img class="card-img-top" src="/content/images/transport/trans11.png" style="max-width:100%; padding:2px;" /></a>
                    <div class="card-body">

                        <div class="container-fluid">
                            <h5 class="style1">
                                Boat x 1 - Easy
                            </h5>
                        </div>
                        <div class="container-fluid">
                            <h6 class="style1">
                                Size: </br>
                                Height:720px  </br>
                                Width:1280px
                            </h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <!-- box 3 -->
        <div class="col col-md-4 col-sm-12">
            <div class="card styleboximg styleboximg2">
                <div class="">
                    <a href="/home/ImagePage/?id=trans6"> <img class="card-img-top" src="/content/images/transport/trans6.png" style="max-width:100%; padding:2px;" /></a>
                    <div class="card-body">

                        <div class="container-fluid">
                            <h5 class="style1">
                                Moped x 1 - Medium
                            </h5>
                        </div>
                        <div class="container-fluid">
                            <h6 class="style1">
                                Size: </br>
                                Height:720px  </br>
                                Width:1280px
                            </h6>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>



<!-- button -->

<div class="butcenter">
    <button class="buttonout buttonout2" onclick="goBack()">Go Back</button>

    <script>
function goBack() {
            window.history.back();
        }</script>
</div>


